<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>E-mail Pousada Canela</title>

	<style type="text/css">

		a, p {

			color: #2e2e2e;
			font-family: Verdana, Arial, sans-serif;
		}

		img {

			max-width: 100%;
			height: auto;
		}

		table {

			border-collapse: collapse;
		}
		
		.wrapper-table {

			font-family: Verdana, Arial, sans-serif;
			border-collapse: collapse;
			max-width: 600px;
			font-size: 12px;
			width: 700px;
			margin: 0 auto;
		} 

		.with-background {

			background-color: #2e2e2e;
		}

		.with-background p {

			margin: 0 0 16px 0;
			text-align: center;
			line-height: 1.6;
			font-size: 14px;
			color: white;
		}

		.is-spaced {

			padding: 18px 0;
		}

		.limit-size {

			max-width: 95%;
			display: block;
			margin: 0 auto;
		}

		.btn {

			text-transform: uppercase;
			background-color: white;
			display: inline-block;
			border-radius: 25px;
			font-weight: 700;
			padding: 0 20px;
			font-size: 19px;
			color: #2e2e2e;
			line-height: 1.8;
		}

		.text-center {

			text-align: center;
			line-height: 1.6;
		}

		.the-code.the-code {

			text-transform: uppercase;
			background-color: white;
			display: inline-block;
			border-radius: 4px;
			padding: 0 30px;
			line-height: 2.8;
			color: #2e2e2e;
		}

		.limit-space {

			padding: 18px 50px 0;
		}

		.white-tr {

			background-color: white;
			padding: 20px 0;
		}

		.image-link {

			vertical-align: text-top;
			display: inline-block;
			margin: 5px 10px 0;
			font-size: 14px;
		}

		.image-link img {

			vertical-align: middle;
			margin: -2px 4px 0 0;
		}
	</style>

</head>
<body>

	<table border="0" class="wrapper-table" data-section-wrapper style="border-collapse: collapse;font-family: Verdana, Arial, sans-serif;max-width: 600px;font-size: 12px;width: 700px;margin: 0 auto;">
		
		<tr>
			
			<td class="text-center" style="text-align: center;line-height: 1.6;">Caso não esteja visualizando corretamente a mensagem, <a href="{webview_url}" style="color: #2e2e2e;font-family: Verdana, Arial, sans-serif;">clique aqui</a></td>
		</tr>
	</table>

	<table border="0" class="wrapper-table with-background" data-section-wrapper style="border-collapse: collapse;font-family: Verdana, Arial, sans-serif;max-width: 600px;font-size: 12px;width: 700px;margin: 0 auto;background-color: #2e2e2e;">
		
		<tr data-section>
			
			<td data-slot-container>
				<div data-slot="image">
					<img src="{{ getAssetUrl('themes/'~template~'/img/hero.jpg', null, null, true) }}" alt="" title="" style="max-width: 100%;height: auto;">
				</div>
			</td>
		</tr>

		<tr data-section>
			
			<td data-slot-container class="is-spaced text-center limit-space" style="padding: 18px 50px 0;text-align: center;line-height: 1.6;">
				
				<div data-slot="text">
					<p style="color: white;font-family: Verdana, Arial, sans-serif;margin: 0 0 16px 0;text-align: center;line-height: 1.6;font-size: 14px;"><strong>A Serra Gaúcha é o destino perfeito para curtir o inverno.</strong></p>
					<p style="color: white;font-family: Verdana, Arial, sans-serif;margin: 0 0 16px 0;text-align: center;line-height: 1.6;font-size: 14px;">O friozinho chegou oficialmente e é hora de você aproveitar o melhor da estação, sabe como? Pegue a estrada e vá pra Serra Gaúcha!</p>
					<p style="color: white;font-family: Verdana, Arial, sans-serif;margin: 0 0 16px 0;text-align: center;line-height: 1.6;font-size: 14px;">Aqui você irá aproveitar o conforto, as delícias e o aconchego da região. A hospedagem você pode deixar por conta da Pousada Canela, que está pronta para te receber. </p>
				</div>

				<div data-slot="text">
					<p class="the-code" style="color: #2e2e2e;font-family: Verdana, Arial, sans-serif;margin: 0 0 16px 0;text-align: center;line-height: 2.8;font-size: 14px;text-transform: uppercase;background-color: white;display: inline-block;border-radius: 4px;padding: 0 30px;">D4NYl0S4n70R0</p>
				</div>
			</td>
		</tr>

		<tr data-section>
			
			<td data-slot-container>
				
				<div data-slot="image">
					
					<img src="{{ getAssetUrl('themes/'~template~'/img/img-post.jpg', null, null, true) }}" class="limit-size" alt="" title="" style="max-width: 95%;height: auto;display: block;margin: 0 auto;">
				</div>
			</td>
		</tr>

		<tr data-section>
			
			<td data-slot-container class="is-spaced text-center" style="padding: 18px 0;text-align: center;line-height: 1.6;">
				
				<div data-slot="text">
					<p style="color: white;font-family: Verdana, Arial, sans-serif;margin: 0 0 16px 0;text-align: center;line-height: 1.6;font-size: 14px;"><strong>Gostou da nossa dica? Então clique no botão abaixo<br>e faça a sua reserva.</strong></p>
				</div>

				<div data-slot="text">
					<a class="btn" href="" target="blank_" style="color: #2e2e2e;font-family: Verdana, Arial, sans-serif;text-transform: uppercase;background-color: white;display: inline-block;border-radius: 25px;font-weight: 700;padding: 0 20px;font-size: 19px;line-height: 1.8;">Reserve Agora</a>
				</div>
			</td>
		</tr>

		<tr class="white-tr" style="background-color: white;padding: 20px 0;" data-section>
			
			<td data-slot-container>
				
				<div data-slot="text">
					<p style="color: white;font-family: Verdana, Arial, sans-serif;margin: 0 0 16px 0;text-align: center;line-height: 1.6;font-size: 14px;">
						<a href="" target="blank_" class="image-link" style="color: #2e2e2e;font-family: Verdana, Arial, sans-serif;vertical-align: text-top;display: inline-block;margin: 5px 10px 0;font-size: 14px;"><img src="{{ getAssetUrl('themes/'~template~'/img/ico-globe.png', null, null, true) }}" alt="" title="" style="max-width: 100%;height: auto;vertical-align: middle;margin: -2px 4px 0 0;"> www.pousadacanela.com.br</a>
						<a href="" target="blank_" class="image-link" style="color: #2e2e2e;font-family: Verdana, Arial, sans-serif;vertical-align: text-top;display: inline-block;margin: 5px 10px 0;font-size: 14px;"><img src="{{ getAssetUrl('themes/'~template~'/img/ico-facebook.png', null, null, true) }}" alt="" title="" style="max-width: 100%;height: auto;vertical-align: middle;margin: -2px 4px 0 0;">/pousadacanela</a>
						<a href="" target="blank_" class="image-link" style="color: #2e2e2e;font-family: Verdana, Arial, sans-serif;vertical-align: text-top;display: inline-block;margin: 5px 10px 0;font-size: 14px;"><img src="{{ getAssetUrl('themes/'~template~'/img/ico-instagram.png', null, null, true) }}" alt="" title="" style="max-width: 100%;height: auto;vertical-align: middle;margin: -2px 4px 0 0;">@pousadacanela</a>
					</p>
				</div>
			</td>
		</tr>
	</table>
	<table border="0" class="wrapper-table" data-section-wrapper style="border-collapse: collapse;font-family: Verdana, Arial, sans-serif;max-width: 600px;font-size: 12px;width: 700px;margin: 0 auto;">		
		<tr>
			
			<td class="text-center" style="text-align: center;line-height: 1.6;">{unsubscribe_text}</td>
		</tr>
	</table>
</body>
</html>